<!--***Llamo a la variable title de app.component.ts***-->
<h1>{{title}}</h1>
<p>Un numero random sera {{numero2}}</p>
<br>
<!--********LLamo al componente  contador******-->
<app-contador>  </app-contador>

<br>
<br>

<!--LLamo al componente botones-->
<app-botones> </app-botones>


<!--Llamo al componente formulario-->
<app-formulario></app-formulario>


<!--Llamo al componente bucles-->
<app-bucles></app-bucles>


<!--formulario basado en plantillas-->
<app-form-basados-plantillas></app-form-basados-plantillas>


<!--Directiva ngIf--><br><br>
<h1>Directiva ngIf</h1>
<app-ifejemplo></app-ifejemplo>
